@use "variables";

.task-modal {
  background-color: variables.$bone;
  padding: 1rem;
  border-radius: 10px;
  label {
    text-align: left;
    margin: 0.2rem auto;
    width: 100%;

    input {
      width: 100%;
    }

    > .align {
      display:flex;
      justify-content: space-between;
    }
  }
}