@use "styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "styles/TasksPage";
@import "styles/TasksForm";
@import "styles/Tasks";
@import "styles/Btn";

.app {
  min-height: 100vh;
}

.side-container {
  background-color: variables.$bone;
  position: sticky;
}